@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&family=Vollkorn:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Vollkorn', serif; */

/* --// Classes //-- */
.btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #5a949d;
  transition: background 1s ease;
  font-size: 16px;
  display: inline-block;
  margin: 15px
}

.btn:hover {
  background: #bee1e6;
  color: black;
}

.card {
  padding: 10px;
  margin: 0px auto;
  width: 800px;
  background-color: #eeeded;
  border-radius: 5px;
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px 0px
}
.container {
  padding: 10px;
  margin: 0px auto;
}

.img-round {
  border-radius: 50%;
}

.italics {
  font-style: italic;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.text-center {
  text-align: center;
}


/* --// Elements //-- */
a {
  text-decoration: none;
  display: inline-block
}

li > a {
  color: rgb(129, 41, 41);
  padding: 0;
  text-align: center;
  font-size: 30px
}

h1, h2, h3 {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 500;
}

body {
  font-family: 'Vollkorn', serif;
  font-weight: 300;
  font-size: 18px;
  background: #d0e3e6;
}

div {
  display: block
}
